<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xc.dao.CategoryMapper">
	<!--新增分类 -->
	<insert id="addCategory" parameterType="CATEGORY" >
		<selectKey keyProperty="category_id" order="AFTER" resultType="java.lang.Integer">
			select LAST_INSERT_ID()
		</selectKey>
		insert into category(category_name,category_case,category_state) values(#{category_name},#{category_case},#{category_state})	
	</insert>
	
	<!--分页查询所有  -->
	<select id="findCategoryAll" parameterType="QueryVo" resultType="CATEGORY">
		select * from category 
		<if test="number !=null and number !=''">
		limit ${currentPage*number},${number}
		</if>
	</select>
	
	<!--查询总条数  -->
	<select id="findCount" resultType="int">
		select count(*) from category 
	</select>
	
	<!--根据名称查询  -->
	<select id="findByName" parameterType="string" resultType="CATEGORY">
		select * from category where category_name = #{category_name}
	</select>
	
	<!--删除分类  -->
	<delete id="delete" parameterType="int">
		delete from category where category_id = #{category_id}
	</delete>
	
	<!--根据id查询  -->
	<select id="getById" parameterType="int" resultType="CATEGORY">
		select * from category where category_id = #{category_id}
	</select>
	<!--修改分类  -->
	<update id="update" parameterType="CATEGORY">
		update category set category_name=#{category_name},category_state=#{category_state},category_case=#{category_case} where category_id=#{category_id}
	</update>	
</mapper>